<div class="row">
<div class="col-lg-12">
<% if (event.id) { %>
<h1>Edit Event</h1>
<% } else { %>
<h1>New Event</h1>
<% } %>

<h2>Event Info:</h2>
<form role="form">
    <div class="input-group">
        <span class="input-group-addon" class="input-group-addon" for="name">Name</span>
        <input class="form-control" value="<%= event.get('name') %>" type="text" id="name" name="name">
    </div>
    <div class="input-group">
        <span class="input-group-addon" for="location">Location</span>
        <input class="form-control" value="<%= event.get('location') %>" type="text" id="location" name="location">
    </div>
    <div class="input-group">
        <span class="input-group-addon" for="date_time">Date and Time</span>
        <input class="form-control" value="<%= event.get('date_time') %>" type="text" id="date_time" name="date_time">
    </div>
    <div class="input-group">
        <span class="input-group-addon" for="description">Description</span>
        <textarea class="form-control" type="text" id="description" name="description"><%= event.get('description') %></textarea>
    </div>
    <div class="input-group">
        <span class="input-group-addon" for="import_path">Dropbox Link</span>
        <input class="form-control" value="<%= event.get('import_path') %>" type="text" id="import_path" name="import_path">
    </div>
    <div class="input-group">
        <span class="input-group-addon" for="user_field_1">User Field 1 Label</span>
        <input class="form-control" value="<%= event.get('user_field_1_label') %>" type="text" id="user_field_1" name="user_field_1_label">
    </div>
    <div class="input-group">
        <span class="input-group-addon" for="user_field_2">User Field 2 Label</span>
        <input class="form-control" value="<%= event.get('user_field_2_label') %>"  type="text" id="user_field_2" name="user_field_2_label">
    </div>
    <div class="input-group">
        <span class="input-group-addon" for="user_field_3">User Field 3 Label</span>
        <input class="form-control" type="text" id="user_field_3" value="<%= event.get('user_field_3_label') %>"  name="user_field_3_label">
    </div>
    <button type="submit" class="btn btn-primary"><%= (event.id) ? 'Update' : 'Create Event' %></button>
    <% if (event.id) { %>
    <button class="btn btn-default" data-function="import">Import</button>
    <button class="btn btn-danger" data-function="delete">Delete Event</button>
    <% } %>
</form>

<h2>Races:</h2>
<% if (event.get('races')) { %>
<% event.get('races').each(function (race) { %>
<h3><%= race.get('division') %></h3>
<button class="btn btn-danger" data-function="deleteRace" data-race-id="<%= race.id %>">Delete</button>
<!--splits-->
<% }); %>
<% } %>
<form>
    <div class="input-group">
        <span class="input-group-addon">Add a Race</span>
        <input type="text" placesholder="Enter the Division Name" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-success" data-function="createRace">+</button>
        </span>
</div>
</div>
