<div class="page-header">
    <h1><%= event.get('name') %></h1>
</div>
    <div class="cover-photo" style="background-image: url(<%=event.get('cover_photo').url %>); background-position: center <%= event.get('cover_position') || 0 %>%"></div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default event-description">
            <div class="panel-heading">
                <h1 class="panel-title">Description</h1>
            </div>
            <div class="panel-body">
                <%= event.get('description') %>
            </div>
        </div>
        <% if (event.get('races').length) { %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Races</h1>
            </div>
            <div class="panel-body">
                <% event.get('races').each(function (race) { %>
                    <a href="races/<%= race.id %>"><h3><%= race.get('division') %></h3></a>
                <% }); %>
            </div>
        </div>
        <% } %>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title map-header"><%= event.get('location') %> <small><%= moment(event.get('start_time')).format("dddd, MMMM Do YYYY, h:mm a") %></small></h1>
            </div>
            <div id="map-canvas"/>
        </div>
    </div>
</div>
